#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.cambioColor tr:nth-child(odd) {
  background: #112233 ;
}

.cambioColor tr:nth-child(even) {
  background: #556677;
}
